extends  layouts/default

block vars
     - var pageTitle = 'tajam - landing page';
     

block content
     header.hidden
          h1 Tajam
     include _includes/section-home 
     include _includes/section-about 
     include _includes/section-video 
     include _includes/section-expertise 