extends  layouts/default

block vars
     - var pageTitle = 'Tajam - landing page';
     

block content
     header.hidden
          h1 Tajam
     include _includes/section-home 
     include _includes/section-about 
     include _includes/section-video 
     include _includes/section-expertise 
     include _includes/section-team 
     include _includes/section-works 
     include _includes/section-people-say 
     include _includes/section-contact 