extends  layouts/default


block content
    header.hidden
        h1 Tajam Вторая страница
    include _includes/section-team
    include _includes/section-works
    include _includes/section-people-say
    include _includes/section-contact
