header.header
    div.container 
        nav.site-nav
            a.site-nav__logo.logo(href="#")
                img.logo__img(src="img/logo.png", alt="Logo")
                span.logo__text tajam
            ul.site-nav__list
                li.site-nav__item: a.site-nav__link.active(href="#") Home
                li.site-nav__item: a.site-nav__link(href="#") About
                li.site-nav__item: a.site-nav__link(href="#") Expertise
                li.site-nav__item: a.site-nav__link(href="#") Teams
                li.site-nav__item: a.site-nav__link(href="#") Works
                li.site-nav__item: a.site-nav__link(href="#") People say
                li.site-nav__item: a.site-nav__link(href="#") Contact