
include ../_mixins/section

+section('Задача 1.', 'Добавляем к изображениям, по которым кликнул пользователь класс bordered')(class="lesson-1") 
    .row
        ul.col.lesson-1__img-list
            li.lesson-1__img-item: img.lesson-1__img(src="img/arrow.png", alt="Img")
            li.lesson-1__img-item: img.lesson-1__img(src="img/arrow.png", alt="Img")
            li.lesson-1__img-item: img.lesson-1__img(src="img/arrow.png", alt="Img")