
include ../_mixins/section

+section('HTML Academy', 'JavaScript 1 ур.')(class="lesson-3") 
    .row
        .col
            .lesson-3__block 
                strong.lesson-3__block-text Изменяемый элемент
            p При нажатии на этот элемент, он приобретает случайный декоративный эффект