
include ../_mixins/section

+section('DOM', 'Управление DOM деревом')(class="lesson-4") 
    .row
        .col
            ul.lesson-4__blocks-wp
                li.lesson-4__block.lesson-4__first: span 0 
                li.lesson-4__block.lesson-4__first: span 1 
                li.lesson-4__block.lesson-4__first: span 2 
                li.lesson-4__block.lesson-4__first: span 3 
                li.lesson-4__block.lesson-4__first: span 4 
            ul.lesson-4__blocks-wp
                li.lesson-4__block.lesson-4__second: span 5 
                li.lesson-4__block.lesson-4__second: span 6 
                li.lesson-4__block.lesson-4__second: span 7 
                li.lesson-4__block.lesson-4__second: span 8 
                li.lesson-4__block.lesson-4__second: span 9 
    .row
        .col-12.offset-md-2.col-md-4
            h3 До:
            p.lesson-4__elementsIndex
        .col-12.col-md-4
            h3 После: 
            p.lesson-4__elementsIndex-after