
include ../_mixins/section

+section('Задача 2.', 'Выводим координаты мыши относительно блока')(class="lesson-2") 
    .row
        .col
            .lesson-2__block
            p Координаты курсора относительно блока: <span class="lesson-2__coordinates">
