.modal-wp
    .modal-video
        button.modal-video__close x
        .modal-video__content
            iframe.modal-video__video(src="https://www.youtube.com/embed/KvUgaHTNit4", allow="accelerometer; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
