mixin team-member(name, profession)
    .team-member
        .team-member__foto-wp   
            //- img.team-member__foto(src=src alt='Foto')&attributes(attributes)
        .team-member__text-wp
            h3.team-member__name= name
            p.team-member__profession= profession


mixin team__item()
    li.col-12.col-sm-6.col-lg-3.team__item 
        block 


section.team.overlay.anchor#teams
    .container
        .row
            header.col.line-bottom.team__header  
                h2.team__title Meet our amazing team
                p.team__subtitle Lorem ipsum dolor sit amet proin gravida nibh vel velit
        ul.row.team__list
            +team__item(): +team-member('Semf Ucuk', 'Ceo & founder')(src='img/team-member-1.png')
            +team__item(): +team-member('Dik Adalin', 'Engineering')(src='img/team-member-2.png')
            +team__item(): +team-member('Jeng Kol', 'Designer')(src='img/team-member-3.png')
            +team__item(): +team-member('Pet Romak', 'Marketing')(src='img/team-member-4.png')
        p.team__text Become part of our dream team, let’s join us ! 
        a.link-btn.team__btn(href="#") We are hiring