section.about.container.anchor#about
    div.row    
        div.col-12.col-md-5.about__decor-img-wp
            div.about__decor-img
        div.col-12.col-md-7.about__content
            header  
                h2.about__title Our story
            p.about__text
                | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                | Duis sed odio sit amet nibh vulputate cursus
            p.about__text
                | Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
                | Sed non  mauris vitae erat consequat auctor eu in elit. 
                | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            a.about__btn.link-btn(href="#") Learn more