section.video.overlay
    .container
        .row
            .col.video__content 
                .video__watch
                    button.video__play
                        span.triangle
                    h2.video__title Watch our story
                    