section.video.overlay
    .container
        .row
            .col.video__content 
                button.video__btn
                    div.video__play 
                        div.triangle
                    span WATCH OUR STORY