//- Для добавления изображений в элементы портфолио: 
//- 1) раскомментировать "img.portfolio__img" в "mixin portfolio"
//- 2) прописать корректный путь к изображению


//- Элемент портфолио
mixin portfolio(href, src)
    li.col-12.col-sm-6.col-md-3.col-lg-2.portfolio__item
        a(href=href).portfolio__link
            .portfolio__content
                //- img.portfolio__img(src=src, alt="Project title")


section.works.anchor#works
    .container  
        .row-fluid
            header.col.works__header
                h2.works__title Our works
                a.works__link(href="#") See All Project in dribbble
    .container-fluid
        ul.row.works__portfolio.portfolio
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
            +portfolio("#", "img/portfolio.png")
    .container
        .row
            .col.works__btn-wp
                a.link-btn.works__btn(href="#") Load more