section.team.overlay
    .container
        .row
            header.col.line-bottom.team__header  
                h2.team__title MEET OUR AMAZING TEAM
                p.team__text Lorem ipsum dolor sit amet proin gravida nibh vel velit