mixin service(title)
    .service
        .service__decor-img&attributes(attributes)
        h3.service__title= title
        if block
            block
        else
            p.service__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.


mixin expertise__item()
    li.col-12.col-sm-6.col-lg-4.expertise__item 
        block 


section.expertise.container
    .row
        header.col.line-bottom.expertise__header  
            h2.expertise__title Expertise
            p.expertise__text Lorem ipsum dolor sit amet proin gravida nibh vel velit
    .expertise__list-wp
        ul.row.expertise__list
            +expertise__item(): +service('Web design & development')(class='web')
            +expertise__item(): +service('Branding identity')(class='identity')
            +expertise__item(): +service('Mobile app')(class='modile')
            +expertise__item(): +service('Search engine optimization')(class='optimize')
            +expertise__item(): +service('Game development')(class='game')
            +expertise__item(): +service('Made with love')(class='love')
