.lesson-3__block {
    height: 150px;
    width: 300px;
    background: lightseagreen;
    padding: 1em;
    user-select: none;
    position: relative;
}

.lesson-3__block-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}




