.team {
    // padding-top: 67px;
    // padding-bottom: 70px;
    text-align: center;

    &:before {
        background-image: url($image_dir + 'team-bg.png' );
    }
}

.team__header {
    font-family: $font-family3;

}

.team__title {
    font-size: 22px;
    color: $text-on-dark-bg;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: .5px;
}

.team__subtitle {
    font-size: 14px;
    color: $team-member-subtitle-color;
    margin-top: 12px;
    letter-spacing: .75px;
}

.team__list {
    margin-top: 40px;
    margin-bottom: 0;
}

.team-member {
    transition: .3s ease-in-out;
    max-width: 265px;
    margin: 0 auto 70px auto;

    &:hover {
        background: rgba(255, 255, 255, .1);
    }
}

.team-member__foto-wp {
    height: 228px;
    max-height: 228px;
    max-width: 100%;
    width: 100%;
    background: $white-color;

    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member__foto {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.team-member__text-wp {
    font-family: $font-family1;
    border: 1px solid $team-member-border-color-1;
    border-top-color: $team-member-border-color-2;
    text-transform: uppercase;
    padding: 17px 20px 24px 20px;
}

.team-member__name {
    font-size: 14px;
    color: $text-on-dark-bg;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 6px;
}

.team-member__profession {
    font-weight: 300;
    color: $team-member-profession-color;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 0;
    //   color: rgba(250, 250, 250, 0.702);
}

.team__text {
    margin-top: 0;
    margin-bottom: 29px;
    color: $team-member-text-color;
    font-weight: 300;
    font-size: 14px;
    font-family: $font-family1;
    letter-spacing: .5px;
    margin-bottom: 24px;
}

.team__btn {
    min-width: 140px;
}