*,
*::before,
*::after {
    box-sizing: border-box;
    outline-color: $basic-color-1;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}


body {
    font-family: $font-family1;
    font-size: $browser-context;
    padding: 50px 0;
    background: $basic-color-4;
}


// *************************************

.section {
    margin-bottom: 50px;
}

.section__title {
    margin: 0;
    color: $basic-color-3;
    font-size: 1.1em;
    font-weight: 400;
}

.section__header {
    margin-bottom: 30px;
    border-left: 5px solid rgb(189, 187, 187);
    padding-top: .5em;
    padding-bottom: .5em;
}

.section__number-task {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: darken($basic-color-3, 10%);
    font-weight: 900;
}


// Ссылка, похожая на кнопку
.link-btn {
    display: inline-block;
    text-align: center;
    color: $link-btn-color;
    border: 1px solid $link-btn-color;
    min-width: 120px;
    min-height: 40px;
    padding: 10px;
    padding: 11px 10px 9px 10px;
    font-size: 16px;
    font-family: $font-family2;
    transition: .3s ease-in-out;
    text-transform: uppercase;
    background: none;

    &:hover {
        background: $link-btn-color;
        color: $white-color;
    }
}


// Элемент с чертой снизу (шаблон)
.default--line-bottom {
    &:after {
        content: '';
        width: 50px;
        display: block;
        margin: 20px auto 5px auto;
    }
}

// Элемент с чертой снизу обычный
.line-bottom {
    &:after {
        @extend .default--line-bottom;
        content: '';
        height: 2px;
        background: $line-bottom-bg;
    }
}

// Элемент с чертой снизу яркий
.line-bottom-bright {
    &:after {
        @extend .default--line-bottom;
        background: $basic-color-1;
        height: 1px;
    }
}



// Декор для блока
.opacity {
    opacity: .5;
}

.shadow {
    box-shadow: 10px 10px 10px lightgreen;
}

.bordered {
    outline: 5px dashed $basic-color-1;
}

.bordered-2 {
    outline: 10px double rgb(146, 7, 25);
}