.icon-facebook {
    background-image: url( $image_dir + 'icons-sprite.png' );
    background-position: -56px 0px;
    width: 7px;
    height: 15px;
  }

  .icon-twitter {
    background-image: url( $image_dir + 'icons-sprite.png' );
    background-position: -17px -41px;
    width: 14px;
    height: 11px;
  }

  .icon-dribbble {
    background-image: url( $image_dir + 'icons-sprite.png' );
    background-position: 0px -25px;
    width: 16px;
    height: 16px;
  }

  .icon-instagram {
    background-image: url( $image_dir + 'icons-sprite.png' );
    background-position: -16px -25px;
    width: 15px;
    height: 15px;
  }

  .icon-google {
    background-image: url( $image_dir + 'icons-sprite.png' );
    background-position: -31px -25px;
    width: 15px;
    height: 14px;
  }

  .icon-youtube {
    background-image: url( $image_dir + 'icons-sprite.png' );
    background-position: 0px -41px;
    width: 17px;
    height: 11px;
  }

  .icon-point {
    background-image: url( $image_dir + 'icons-sprite.png' );
    background-position: -42px 0px;
    width: 14px;
    height: 19px;
  }

  .icon-telephone {
    background-image:  url( $image_dir + 'icons-sprite.png' );
    background-position: -25px 0px;
    width: 17px;
    height: 17px;
  }

  .icon-paper {
    background-image: url( $image_dir + 'icons-sprite.png' );
    background-position: 0px 0px;
    width: 25px;
    height: 25px;
  }