.icon-facebook {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -140px -42px;
  width: 7px;
  height: 15px;
}

.icon-twitter {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -60px -96px;
  width: 14px;
  height: 11px;
}

.icon-dribbble {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -64px -75px;
  width: 16px;
  height: 16px;
}

.icon-instagram {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -80px -75px;
  width: 15px;
  height: 15px;
}

.icon-google {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -28px -96px;
  width: 15px;
  height: 14px;
}

.icon-youtube {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -43px -96px;
  width: 17px;
  height: 11px;
}

.icon-point {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -50px -75px;
  width: 14px;
  height: 19px;
}

.icon-telephone {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -75px -50px;
  width: 17px;
  height: 17px;
}

.icon-paper {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -50px -50px;
  width: 25px;
  height: 25px;
}

// **************************
.icon-web {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -50px 0px;
  width: 49px;
  height: 50px;
}

.icon-identity {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -99px 0px;
  width: 50px;
  height: 42px;
}

.icon-modile {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: 0px -96px;
  width: 28px;
  height: 50px;
}

.icon-optimize {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: 0px 0px;
  width: 50px;
  height: 50px;
}

.icon-game {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: -99px -42px;
  width: 41px;
  height: 50px;
}

.icon-love {
  background-image: url($image_dir + 'icons-sprite.png' );
  background-position: 0px -50px;
  width: 50px;
  height: 46px;
}