// Переменные для breakpoints
$grid-breakpoints: (
    xs: 0,
    x350: 350px,
    x400: 400px,
    x450: 450px,
    x480: 480px,
    x550: 550px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px) !default;


$grid-gutter-width: 20px; // ширина отступов между столбцами сетки


// Общие
$browser-context: 16px;


// Шрифты 
$font-family1: 'Roboto', sans-serif;
$font-family2: $font-family1;
$font-family3: $font-family1;


// Чёрный и белый 
$white-color: #ffffff;
$black-color: #000000;


// Основные цвета
$basic-color-1: rgb(53, 71, 173);
$basic-color-2: #413d4b;
$basic-color-3: rgb(10, 96, 153);
$basic-color-4: #e9e4df;


// Цвет текста на тёмном фоне
$text-on-dark-bg: $white-color;

// Ссылка, похожая на кнопку
$link-btn-color: $basic-color-1;

// Элемент с чертой снизу
$line-bottom-bg: #c6c4c9;

// Отступы сверху и снизу у блоков
$section-padding: 70px;


// Шапка сайта
$site-nav-active-color: $basic-color-1;

// Первый раздел сайта
$about-title-color: $basic-color-2;

// Блок Expertise
$expertise-title-color: $basic-color-2;
$expertise-text-color: $basic-color-3;

// Карточка услуги в блоке Expertise
$service-title-color: $basic-color-2;
$service-text-color: $basic-color-4;
$service-border: 1px solid #ebebeb;

// Портфолио
$portfolio-bg-1: #b6b6b6;
$portfolio-bg-2: #acacac;
$portfolio-bg-3: #a1a1a1;
$portfolio-bg-4: #8a8a8a;
$portfolio-bg-5: #a4a4a4;

// feedback
$feedback-border-color: #e5e5e5;

// team-member
$team-member-border-color-1: rgba(225, 225, 225, .5);
$team-member-border-color-2: #e6e6e8;
$team-member-profession-color: #fafafa;
$team-member-text-color: #f3f3f3;
$team-member-subtitle-color: #f9f9f9;

// works
$works-header-color: $basic-color-2;
$works-border-color: $basic-color-2;


/*  
Шпаргалка

***********
@include media-breakpoint-up(sm)
@include media-breakpoint-down(sm)
@include media-breakpoint-only(sm)

***********
font-weight 
100	Тонкий (Волосяной) Thin (Hairline)
200	Дополнительный светлый (Сверхсветлый) Extra Light (Ultra Light)
300	Светлый Light
400	Нормальный Normal
500	Средний Medium
600	Полужирный Semi Bold (Demi Bold)
700	Жирный Bold
800	Дополнительный жирный (Сверхжирный) Extra Bold (Ultra Bold)
900	Черный (Густой) Black (Heavy)
*/

// Путь к дирестории изображений для подключения через css
// Пример: 
// background-image: url( $image_dir + 'name.png' );
$image_dir: '../img/';

