doctype html
        
html(lang="ru")
    //- Шрифты
    - font1= 'Roboto:300,400,500,700,900'
    //- - font2= 'Hammersmith+One'
    //- - font3= 'Playfair+Display:400,700,900'
    - symbol= '%7C'
    - allFonts= font1

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="theme-color" content="#fff")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title='Tajem Creative'
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=" + allFonts +"&display=swap")
        link(rel="stylesheet" href="css/main.min.css")
    body

        main.main
            block content

        script(src='js/main.min.js')
