doctype html
        
html(lang="en")
    //- Шрифты
    - font1= 'Roboto:100,100i,300,400,500,700,900'
    - font2= 'Hammersmith+One'
    - font3= 'Playfair+Display:400,700,900'
    - symbol= '%7C'
    - allFonts= font1+symbol+font2+symbol+font3

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="theme-color" content="#fff")
        link(rel="apple-touch-icon", sizes="180x180", href="img/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="img/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="img/favicon-16x16.png")
        link(rel="mask-icon", href="img/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='manifest' href='manifest.webmanifest')
        title='Tajem Creative'
        script(src='serviceWorker.js')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=" + allFonts +"&display=swap")
        link(rel="stylesheet" href="css/main.min.css")
    body
        include ../_includes/header 

        main.main
            block content

        include ../_includes/footer
        script(src='js/main.min.js')
